

.square {
  width: fit-content;
  height: fit-content;
  background: #8FBC8F	;
  border: 1px solid white;
  display: flex;
  align-items: center;
}

.zoom:focus {
  box-shadow: 5px 5px 5px lightslategray;
  outline: none;
  transform: scale(1.2);
}

@media only screen and (min-width:768px) {
  .square {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and (min-width:0px) and (max-width:767px) {
  .square {
    width: 2rem;
    height: 2rem;
  }
}