button {
  margin: 1rem 3rem;
}

.game {
  margin-top: 1rem;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pass {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 930px) {
  button {
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  aside {
    position: absolute;
    top: 30rem;
  }

  .aside_left {
    left: 15vw;
  }

  .aside_right span {
    display: none;
  }

  .aside_right {
    right: 15vw;
  }
}
